<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitMEXAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BitMEXAssistan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BitMEXAssistant.Properties.Settings>
            <setting name="RetryAttemptWaitTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="OverloadRetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverloadRetryAttempts" serializeAs="String">
                <value>1</value>
            </setting>
        </BitMEXAssistant.Properties.Settings>
        <BitMEXAssistan.Properties.Settings>
            <setting name="RetryAttemptWaitTime" serializeAs="String">
                <value>500</value>
            </setting>
        </BitMEXAssistan.Properties.Settings>
    </userSettings>
</configuration>